<h1><%= @post.title %> </h1>
<span><%= link_to 'edit', edit_category_post_path(@post.category, @post) %></span>
<span><%= link_to 'delete', category_post_path(@post.category, @post), :method => :delete %></span>
<p><%= @post.content %></p>